body {
  font-family: "Montagu Slab", serif;
  color: #3c246b;
  background: linear-gradient(
    109.6deg,
    rgb(220, 196, 252) 11.2%,
    rgb(150, 199, 253) 100.2%
  );
  background-size: 100%;
}

h1 {
  text-align: center;
  font-size: 60px;
}

.form-search,
.form-submit {
  width: 100%;
  padding: 5px;
  border: 2px solid #606470;
  border-radius: 10px;
  background: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  line-height: 35px;
}

.container {
  max-width: 700px;
}

.wrapper {
  max-width: 700px;
  margin: 30px auto;
}

.weather-app {
  background: rgba(255, 255, 255, 0.1);
}

.date-time {
  font-size: 18px;
  margin: 5px;
}

.weather-app {
  padding: 20px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 30px;
}

.middle {
  margin: 70px 20px;
}

.weather-temperature {
  padding: 20px 0px;
}

.weather-temperature img {
  width: 120px;
  display: block;
  margin: 0 auto;
}

.current-temp {
  padding: 45px;
  font-size: 80px;
  font-weight: bold;
}

.weather-temperature .active {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: bold;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.units {
  font-size: 18px;
  position: relative;
  top: -40px;
  left: -45px;
}

.details {
  font-size: 18px;
}

.description {
  text-transform: capitalize;
}

.weather-forecast {
  text-align: center;
  border: 2px solid #606470;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.forecast-day {
  font-size: 18px;
  font-weight: bold;
}

.weather-forecast img {
  width: 52px;
  margin: 20px;
}

.forecast-temperature-max {
  font-size: 18px;
  font-weight: 600;
  margin-right: 3px;
}

.forecast-temperature-min {
  font-size: 18px;
  font-weight: 500;
  margin-left: 3px;
}
