body {
  font-family: "Montagu Slab", serif;
  color: #323643;
  background: #93deff;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.form-search,
.form-submit {
  width: 100%;
  padding: 5px;
  border: 2px solid #606470;
  border-radius: 10px;
  background: #ffffff;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  background: #beebff;
}

.date-time {
  margin: 5px;
}

.weather-app {
  padding: 20px;
  border: 2px solid #beebff;
  border-radius: 30px;
}

.weather-temperature img {
  width: 100px;
}

.current-temp {
  font-size: 50px;
  font-weight: bold;
}

.weather-temperature .active {
  color: #323643;
  font-weight: bold;
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.units {
  position: relative;
  top: -25px;
}

.description {
  text-transform: capitalize;
}

.weather-forecast {
  text-align: center;
  border: 2px solid #606470;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px;
}

.forecast-day {
  font-weight: bold;
}

.weather-forecast img {
  width: 52px;
}

.forecast-temperature-max {
  font-weight: 600;
  margin-right: 3px;
}

.forecast-temperature-min {
  font-weight: 500;
  margin-left: 3px;
}
